[submodule "rtsp-client-ffmpeg-opencv/fmt"]
	path = rtsp-client-ffmpeg-opencv/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "rtsp-client-ffmpeg-opencv/glog"]
	path = rtsp-client-ffmpeg-opencv/glog
	url = https://github.com/google/glog.git
[submodule "rtsp_client_demo/live555"]
	path = rtsp_client_demo/live555
	url = https://github.com/melchi45/live555.git
[submodule "rtsp_server_qt_demo/live555"]
	path = rtsp_server_qt_demo/live555
	url = https://github.com/melchi45/live555.git
[submodule "serial_port/serial"]
	path = serial_port/serial
	url = https://github.com/wjwwood/serial.git
[submodule "serial_port/serial_window"]
	path = serial_port/serial_window
	url = https://github.com/kcwongjoe/serial_port.git
[submodule "QtAVPlayerCMakeDemo/QtAVPlayer"]
	path = QtAVPlayerCMakeDemo/QtAVPlayer
	url = https://github.com/kimvnhung/QtAVPlayerCMake.git
